// Color
$primary-color: #3F51B5;
$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$accent-color: #FFC107;

// Typography
$primary-text: #212121;
$secondary-text: #757575;
$light-text: #FFFFFF;

// Dividers
$divider-color: #BDBDBD;