<div class="container">
	<header>
		<h1 class="text-center">Dragon Ball Z Diners</h1>

		<section class="filter">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<button class="btn btn-default btn-block btn--search">Search Restaurants</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<p class="lead text-center">
						Search Restaurants by...
					</p>
				</div>
			</div>

			<div class="row text-center">
				<form action="" method="POST" class="form-inline">
					<div class="col-md-3 col-md-offset-3">
						<div class="form-group">
							<label for="type">Type</label><br>
							<input type="text" name="type" id="type" class="form-control" ng-model="typeFilter.type">
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="diner-name">Name</label><br>
							<input type="text" name="diner-name" id="diner-name" class="form-control" ng-model="nameFilter.name">
						</div>
					</div>
				</form>		
			</div>
		</section>
	</header>

	<main>
		<div class="row text-center">
			<div ng-repeat="diner in diners | filter: typeFilter | filter: nameFilter">
				<div class="clearfix" ng-if="$index % 3 === 0"></div>
				<figure class="col-md-4">
					<img src="{{ diner.photo.src }}" alt="{{ diner.photo.alt }}" class="img-responsive">
					<figcaption><a href="#/home" ng-click="goToDiner(diner)">{{ diner.name }}</a></figcaption>
				</figure>
			</div>
		</div>
	</main>
</div>