<div class="container">
	<header>
		<h1 class="text-center">Dragon Ball Z Diners</h1>
	</header>

	<main>
		<section class="filter">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<button class="btn btn-default btn-block">Search Restaurants</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<p class="lead text-center">
						Search Restaurants by...
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form action="" method="POST" class="form-inline">
						<div class="form-group">
							<label for="type">Type</label><br>
							<input type="text" name="type" id="type" class="form-control">
						</div>
						<div class="form-group pull-right">
							<label for="name">Name</label><br>
							<input type="text" name="name" id="name" class="form-control">
						</div>
					</form>		
				</div>
			</div>
		</section>
	</main>	
</div>