<div class="container">
	<header>
		<h1 class="text-center">Dragon Ball Z Diners</h1>

		<section class="filter">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<button class="btn btn-default btn-block btn--search">Search Restaurants</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<p class="lead text-center">
						Search Restaurants by...
					</p>
				</div>
			</div>

			<div class="row text-center">
				<form action="" method="POST" class="form-inline">
					<div class="col-md-3 col-md-offset-3">
						<div class="form-group">
							<label for="type">Type</label><br>
							<input type="text" name="type" id="type" class="form-control">
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="diner-name">Name</label><br>
							<input type="text" name="diner-name" id="diner-name" class="form-control">
						</div>
					</div>
				</form>		
			</div>
		</section>
	</header>

	<main>
		<div class="row text-center">
			<figure class="col-md-4">
				<img src="images/frieza.jpg" alt="" class="img-responsive">
				<figcaption><a href="">Frieza's Wide-Open Fridge</a></figcaption>
			</figure>
			<figure class="col-md-4">
				<img src="images/saiyans.jpg" alt="" class="img-responsive">
				<figcaption><a href="">Saiyan Soup and Salad</a></figcaption>
			</figure>
			<figure class="col-md-4">
				<img src="images/humans.png" alt="" class="img-responsive">
				<figcaption><a href="">Yajirobe's Yummy Yearnings</a></figcaption>
			</figure>
		</div>
	</main>
</div>