<div class="container">
	<header>
		<h1 class="text-center">{{ diner.name }}</h1>

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<img src="{{ diner.photo.src }}" alt="" class="img-responsive">
			</div>
		</div>
	</header>

	<main>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<button type="button" class="btn btn-default btn-block btn--review" data-toggle="modal" data-target="#myModal">Leave a Review</button>
			</div>
		</div>

		<div class="row">
			<div ng-repeat="review in diner.reviews">
			<div class="clearfix" ng-if="$index % 2 === 0"></div>
				<div class="col-md-6">
					<div class="panel panel-default">
					  <div class="panel-heading text-center">
					    <h3 class="panel-title">Review by {{ review.name }}</h3><br>
					    <p>Left on {{ review.date }}</p>
					    <p>{{ review.rating }} stars</p>
					  </div>
					  <div class="panel-body">
					    {{ review.comments }}
					  </div>
					</div>				
				</div>				
			</div>
		</div>
	</main>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<header class="modal-header">
					<h3 class="text-center">Leave a Review for {{ diner.name }}</h3>
				</header>

				<div class="modal-body">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<form action="" method="POST" id="reviewForm" name="reviewForm">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" class="form-control" ng-model="review.name">
									<div ng-show="reviewForm.name.$touched && reviewForm.name.$error" class="text-danger	">POOP</div>
								</div>

								<div class="form-group">
									<label for="date">Date</label>
									<input type="date" name="date" id="date" class="form-control" ng-model="review.date">
								</div>

								<div class="form-group">
									<label for="">Rating</label>
									<div class="rating">
									  <div class="dragonball" ng-click="hoverStyles($event)">
									    <span class="star">&#9733;</span>
									  </div>
									  <div class="dragonball" ng-click="hoverStyles($event)">
									    <span class="star">&#9733;</span>
									  </div>
									  <div class="dragonball" ng-click="hoverStyles($event)">
									    <span class="star">&#9733;</span>
									  </div>
									  <div class="dragonball" ng-click="hoverStyles($event)">
									    <span class="star">&#9733;</span>
									  </div>
									  <div class="dragonball" ng-click="hoverStyles($event)">
									    <span class="star">&#9733;</span>
									  </div>
									</div>
								</div>

								<div class="form-group">
									<label for="comments">Comments</label>
									<textarea name="comments" id="comments" cols="30" rows="10" class="form-control" ng-model="review.comments"></textarea>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="submitReview()">Submit Review</button>
				</div>
			</div>
		</div>
	</div>
</div>